---
import Eyebrow from '@/components/Eyebrow.astro';
import Button from '@/components/ui/Button.astro';

export interface Props {
  t: {
    eligibility: {
      eyebrow: string;
      sectionTitle: string;
      intro: string;
      criteria: {
        point1: string;
        point2: string;
        point3: string;
      };
      joinButton: string;
    };
  };
}

const { t } = Astro.props;
---

<section class="eligibility" id="eligibility">
  <div class="container">
    <div class="content-wrapper">
      <Eyebrow text={t.eligibility.eyebrow} />
      
      
      <div class="grid">
        <div class="split">
          <h2 class="section-title">{t.eligibility.sectionTitle}</h2>
          <p class="section-intro font-14">{t.eligibility.intro}</p>
        </div>
        <div class="divider"></div>
        <div class="split">
          <ul class="criteria-list text-base">
            <li>{t.eligibility.criteria.point1}</li>
            <li>{t.eligibility.criteria.point2}</li>
            <li>{t.eligibility.criteria.point3}</li>
          </ul>
          <div class="button-wrapper"><Button popoverTarget="registration-popover"> {t.eligibility.joinButton} </Button></div>
        </div>
        </div>
        
      <!-- Right side: Image placeholder -->
      <!-- <div class="image-placeholder">
        <div class="placeholder-box">
          <span>Image Placeholder</span>
        </div>
      </div> -->
    </div>
  </div>
</section>

<style>
  .eligibility {
    padding-inline: var(--section-inline);
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--space-xl) var(--section-inline);
    background: var(--background-elevated);
    border-radius: var(--radius-xl)
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1px 2fr;
    gap: var(--space-xl);
  }

  .divider {
    height: 100%;
    width: 1px;
    background-color: var(--border-primary);
  }

  .split {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }


  .section-intro {
    max-width: 320px;
    color: var(--text-secondary);
    order: 3
  }



  .criteria-list {
    list-style: none;
    padding: 0;
    order: 0;
  }

  .criteria-list li {
    position: relative;
    margin-bottom: 0.75rem;
    padding-left: var(--space-s);
    color: #555;
    line-height: 1.6;
    font-size: 1rem;
    
  }

  .criteria-list li:last-child {
    margin-bottom: 0;
  }

 

  .button-wrapper {
    order: 4
  }

  .criteria-list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.6rem;
  width: 8px;
  height: 8px;
  background: #0066cc;
  border-radius: 2px;
}


  @media (max-width: 809px) { /* mobile only */

    .grid {
      grid-template-columns: 1fr;
      gap: var(--space-m);
    }

    .section-intro {
      font-size: var(--font-size-base);
    }

    .button-wrapper {
      order: 4;
    }

    .divider {
      display: none;
    }



 

  }
</style>